<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	   <add name="ConStr" connectionString="Data Source=DESKTOP-NJD1B9K;Initial Catalog=QuickStartAdminMergeNew;User ID=sa;Password=server@123;Pooling=true;Connect Timeout=600000" />
	  <!--<add name="ConStr" connectionString="Data Source=DESKTOP-E1I0NG3;Initial Catalog=DBNewQuick;User ID=sa;Password=Nilesh@12" />-->
	  <add name="ConStrHangfire" connectionString="Data Source=DESKTOP-NJD1B9K;Initial Catalog=HangfireQSA;User ID=sa;Password=server@123" />
	  <!--<add name="ConStr" connectionString="Data Source=localhost;Initial Catalog=DBQuickStartAdmin_UAT;User ID=sa;Password=1xu0Ydba!" /> -->
  </connectionStrings>
  <appSettings>
    <add key="MaxUploadSize" value="4194304" />
    <add key="MailHost" value="smtp.gmail.com" />
    <add key="WebURL" value="https://v2.quickstartadmin.com/" />
    <add key="SenderMail" value="dsnirwan123@gmail.com" />
    <add key="SenderPass" value="cecj kisb cqlz iyur" />
    <add key="ReceiverMail" value="administrator@quickstartadmin.com" />
    <add key="SenderPort" value="587" />
    <add key="EnableSSL" value="true" />
    <add key="EComCompanyID" value="1" />
    <add key="EComBranchID" value="1" />
    <add key="ECommerce" value="true" />
	<add key="owin:AutomaticAppStartup" value="true" />	  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<browserCaps userAgentCacheKeyLength="256" />
		<httpRuntime executionTimeout="240" maxRequestLength="20480" targetFramework="4.6" />
		<httpHandlers>
			<remove path="*.asmx" verb="*" />
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
			<add path="ScriptResource.axd" verb="GET" type="System.Web.Handlers.ScriptResourceHandler" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<identity impersonate="true" />
		<authentication mode="Windows" />
		<sessionState mode="InProc" timeout="540" cookieless="false" />
		<customErrors mode="Off" />
		<trust level="Full" />
		<compilation debug="true" targetFramework="4.6">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.DataVisualization, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Design, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebDesign, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WinForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<buildProviders>
				<!-- Version updated to 15.0.0.0. -->
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
		</compilation>
		<webServices>
			<protocols>
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="4.0" >
		<controls>
			<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
		</controls>
		</pages>
	</system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="default.aspx" />
        <add value="_Home.aspx" />
        <add value="index.php" />
        <add value="index.asp" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Pain13URL">
          <match url="Users/MyMsg/Pain13/(.*)" />
          <action type="Rewrite" url="Users/MyMsg/ViewPain13.aspx?MsgID={R:1}" />
        </rule>
        <rule name="CAMT56URL">
          <match url="Users/MyMsg/CAMT56/Incoming/(.*)" />
          <action type="Rewrite" url="Users/MyMsg/ViewCAMT56.aspx?MsgID={R:1}&amp;Type=Incoming" />
        </rule>
        <rule name="CAMT56URLOutgoing">
          <match url="Users/MyMsg/CAMT56/Outgoing/(.*)" />
          <action type="Rewrite" url="Users/MyMsg/ViewCAMT56.aspx?MsgID={R:1}&amp;Type=Outgoing" />
        </rule>
        <rule name="PACS008URL">
          <match url="Users/MyMsg/Pacs008/(.*)" />
          <action type="Rewrite" url="Users/MyMsg/ViewPac008.aspx?MsgID={R:1}" />
        </rule>
      </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354AE6D2174DDCA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>