body {
    margin:0px;
    padding:0px;
}
.divmain {
    width: 715px;
    margin: 0px auto;
    padding: 10px 0px;
    background: #ffffff;
    max-width:100%;
}

.ReportViewer1_fixedTable {

    width: 100%;
}